.footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    width: 100%;
    text-align: center;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
  }