<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform"
autoReload="true">
    <!--IncludeToDebugLoggingConfig-->
    <!--internalLogLevel="Debug"
	internalLogFile="c:\dev\debugging-temp\internal-nlog.txt">-->

    <!--LoadtheASP.NETCoreplugin-->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.Gelf"/>
        <add assembly="NLog.DiagnosticSource"/>
    </extensions>
    <targets async="true">
        <target name="Gelf" type="GelfHttp" serverUrl="http://127.0.0.1:12201/gelf" facility="WebApiService">
            <layout xsi:type="JsonLayout" includeMdlc="true" includeAllProperties="true">
                <attribute name="message" layout="${message}"/>
                <attribute name="log_level" layout="${level:format=Name:lowercase=true}"/>
                <attribute name="ecs_version" layout="1.7.0"/>
                <attribute name="labels_environment" layout="development"/>
                <attribute name="host_name" layout="${machinename}"/>
                <attribute name="trace_id" layout="${activity:property=TraceId}"/>
                <attribute name="span_id" layout="${activity:property=SpanId}"/>
            </layout>
        </target>
    </targets>
    <rules>
    </rules>
</nlog>