<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="console" xsi:type="Console" />
        <target name="file" xsi:type="File" fileName="${basedir}/log.txt" />
        <!--<target name="email" xsi:type="Mail"
                smtpServer="smtp.DomainName.com"
                smtpAuthentication="Basic"
                smtpUsername="Username@DomainName.com"
                smtpPassword =""
                enableSsl="true"
                subject="NLog message from system X on ${machinename}"
                to="Username@DomainName.com"
                from="Username@DomainName.com"  />-->
    </targets>
    <rules>
        <logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console" />
        <logger name="*" levels="Warn,Error" writeTo="file" />
        <!-- <logger name="*" levels="Error" writeTo="email" /> -->
    </rules>
</nlog>